<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fad9d">  <td>20/01/15 14:56:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;PersonalRegoTest.beforeTest()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@610694f1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@81009902</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>20/01/15 14:56:09</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonalRegoTest.login()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@610694f1]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@81009902</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>20/01/15 14:56:09</td>   <td>576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.bad()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@610694f1]">bad</td> 
  <td>main@81009902</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>20/01/15 14:56:09</td>   <td>586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.good()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@610694f1]">good</td> 
  <td>main@81009902</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>20/01/15 14:56:09</td>   <td>588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.neutral()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@610694f1]">neutral</td> 
  <td>main@81009902</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>20/01/15 14:56:09</td>   <td>591</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PersonalRegoTest.exit()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@610694f1]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@81009902</td>   <td></td> </tr>
</table>
