<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>adwin.Maven_demo1.PersonalRegoTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>bad</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>bad</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>neutral</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>neutral</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>good</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>good</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>exit</td>
<td>&nbsp;</td></tr>
</table>
