<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c93a1">  <td>19/09/20 11:20:32</td>   <td>0</td> <td title="&gt;&gt;base.testBeforeSuite()[pri:0, instance:adwin.Maven_demo1.base@69930714]">&gt;&gt;testBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1671846437</td>   <td></td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonalRegoTest.login()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@657c8ad9]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.bad()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@475e586c, instance params:[Singapore, test1@testmail.com, google.com]]">bad</td> 
  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.good()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@475e586c, instance params:[Singapore, test1@testmail.com, google.com]]">good</td> 
  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.neutral()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@475e586c, instance params:[Singapore, test1@testmail.com, google.com]]">neutral</td> 
  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PersonalRegoTest.exit()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@657c8ad9]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonalRegoTest.login()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@657c8ad9]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.bad()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@657c8ad9, instance params:[USA, test2@testmail.com, facebook.com]]">bad</td> 
  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.good()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@657c8ad9, instance params:[USA, test2@testmail.com, facebook.com]]">good</td> 
  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalRegoTest.neutral()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@657c8ad9, instance params:[USA, test2@testmail.com, facebook.com]]">neutral</td> 
  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="e18bac">  <td>19/09/20 11:20:32</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PersonalRegoTest.exit()[pri:0, instance:adwin.Maven_demo1.PersonalRegoTest@657c8ad9]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1671846437</td>   <td>1197365356 1702660825 </td> </tr>
<tr bgcolor="8c93a1">  <td>19/09/20 11:20:32</td>   <td>121</td> <td title="&lt;&lt;base.testAfterSuite()[pri:0, instance:adwin.Maven_demo1.base@69930714]">&lt;&lt;testAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1671846437</td>   <td></td> </tr>
</table>
